<h1>DANG NHAP</h1>

<form class="row g-3 my-3 mx-3" method="post" action="/api/login">
  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input type="text" class="form-control" id="staticEmail2" placeholder="UserName">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Đăng Nhập</button>
  </div>
</form>